ACCESS_TOKEN=your_access_token_here
REFRESH_TOKEN=your_refresh_token_here
SCOPES=ZohoCRM.modules.ALL
API_DOMAIN=https://www.zohoapis.in
TOKEN_TYPE=Bearer
EXPIRES_IN=3600
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
VITE_BACKEND_URL=https://project-rainfall-60072062952.development.catalystserverless.in/server/otp_backend
